.root{
  padding: 0px 0px 120px 0px;
}

.title{
  color: #1A3760;
  font-weight: bold;
}

.para{
  font-size: 12px;
  margin: 3px;
}

.icon {
  width: 36px;
  height: 36px;
  font-size: 14px;
  display: inline-block;
  background: #EEEFF1;
  color: black;
  line-height: 1;
  padding: 8px 0px;
  border-radius: 50%;
  text-align: center;
}

.label {
  color: #0A2457;
  font-size: 13px;
  font-weight: bold;
  padding: 0px;
}

