/* .root{
  padding: 80px 0px;
}

.title{
  color: #1A3760;
  font-size: 14px;
  font-weight: bold;
}

.para{
  font-size: 12px;
  margin: 3px;
}

.icon {
  width: 36px;
  height: 36px;
  font-size: 14px;
  display: inline-block;
  background: #F8F9FA;
  color: black;
  line-height: 1;
  padding: 8px 0px;
  border-radius: 50%;
  text-align: center;
} */