.back {
  background-image: url("../public/shakallllllllll.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 84vh;
  border-radius: "40px";
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  height: 70vh;
  border-radius: 28px;
}

.customCheckbox .ant-checkbox-inner {
  width: 16px;
  height: 16px;
}

.errorCheckbox .ant-checkbox-inner {
  border-color: red;
}

.errorCheckbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: red;
  border-color: red;
}
